@model JJAutos.Models.ProfileViewModel
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Profile";
}

<h1>Profile @User.Identity.Name </h1>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MyCars[0].Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MyCars[0].Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MyCars[0].Colour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MyCars[0].RegNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MyCars[0].PicturePath)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.MyCars)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegNo)
            </td>
            <td>
               <img src="@item.PicturePath" />
            </td>
        </tr>
    }

</table>
    

@Html.ActionLink("Add New Car","AddCar","Home")